.toolbar {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  
  .toolbar a {
    color: white;
    padding: 0 20px;
  }
  